services:
  db:
    image: postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - SECRET_KEY=django-insecure-!3kr)*qd^cb!id6t0!(%7g+xo^r$(-%&(^4gzqk)dtpcg=u!u(
  web:
    build: .
    command: python manage.py migrate && python manage.py runserver 0.0.0.0:8000
    volumes:
    restart: always
      - .:/code
    ports:
      - "8000:8000"
    environment:
      - MIN_EXPIRY_LINK_TIME=300
      - MAX_EXPIRY_LINK_TIME=30000
      - POSTGRES_NAME=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - SECRET_KEY=django-insecure-!3kr)*qd^cb!id6t0!(%7g+xo^r$(-%&(^4gzqk)dtpcg=u!u(
    depends_on:
      - db